= render partial: 'sweets/header', locals: { }

.user-mypage-wrapper
  .user-profile-wrapper
    .user-profile-wrapper__inner
      .user-profile-wrapper__inner__upper
        .user__image
          = image_tag "#{@user.image}", class:"user__image__photo"
        .user__nickname
          = @user.nickname
        .user__post
          = "（ 投稿数 #{@user.sweets.length} ）" 
      .user-profile-wrapper__inner__lower
        .user__comment
          甘いものが好きです。
          ケーキは友達です。
          よろしくおねがいします。
          甘いものが好きです。
          ケーキは友達です。
          よろしくおねがいします。
        .user__edit
          = link_to "#", class:"user__edit__link" do
            プロフィールを編集
          
  .sweets-wrapper
    .sweets-contents
      .sweets-contents__title
        %p
          = "#{@user.nickname}さんのお気に入り一覧"
      .sweets-boxes
        -if @likes.length == 0
          .nothing
            お気に入りはまだありません
        - @likes.each do |like|
          .sweets-box
            = link_to sweet_path(like.sweet), class:"sweets-box__link" do
              = image_tag "#{like.sweet.image}", class:"sweets-box__image"
              .sweets-box__title
                = like.sweet.title
      .sweets-contents__title
        %p
          = "#{@user.nickname}さんの投稿一覧"
      .sweets-boxes
        -if @user.sweets.length == 0
          .nothing
            投稿はまだありません
        - @user.sweets.order("id DESC").each do |sweet|
          .sweets-box
            = link_to sweet_path(sweet), class:"sweets-box__link" do
              = image_tag "#{sweet.image}", class:"sweets-box__image"
              .sweets-box__title
                = sweet.title