.header
  .header-wrapper
    .header-contents-left
      .header-contents-left__title
        = link_to root_path, class:"header-title" do
          SweetsCollection
    .header-contents-right
      - if user_signed_in?
        = link_to "#", class: "header__btn" do
          マイページ
        = link_to new_sweet_path, class: "header__btn" do
          投稿する
        = link_to destroy_user_session_path, method: :delete, class: "header__btn" do
          ログアウト
      - else
        = link_to new_user_registration_path, class:"header__btn" do
          新規会員登録
        = link_to new_user_session_path, class: "header__btn" do
          ログイン