.side-bar
  .side-title
    月別投稿一覧
  %ul
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年1月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年2月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年3月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年4月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年5月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年6月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年7月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年8月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年9月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年10月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年11月(3)
    %li.monthly
      = fa_icon "chevron-right"
      = link_to "#", class:"month-link" do
        2019年12月(3)
  