-# ランキング表示機能が完成したらモーダルは削除
#modal-wrapper
  #modal-window
    .modal-message-box
      現在準備中です
    %button#modal-close-btn 閉じる

.side-bar
  .side-bar__inner
    
    .ranking-contents
      .ranking-box
        .ranking-box__title
          = fa_icon 'crown', class:"ranking-icon"
          Ranking
        .ranking-box__body
          %ul
            %li
              = link_to "#", class:"ranking__link", data: {"turbolinks" => false} do
                いいね数ランキング
                = fa_icon 'chevron-right'
            %li
              = link_to "#", class:"ranking__link", data: {"turbolinks" => false} do
                評価が高い順ランキング
                = fa_icon 'chevron-right'
            %li
              = link_to "#", class:"ranking__link", data: {"turbolinks" => false} do
                フォロワー数ランキング
                = fa_icon 'chevron-right'

    .search-contents
      .search-box
        .search-box__title
          = fa_icon 'search', class:"search-icon"
          Search
        .search-box__body
          .search-form
            .search-form__title
              タイトルで検索
            .search-form__body
              = form_tag(search_sweets_path, method: :get) do
                %input{name:"keyword1", type:"text", placeholder:"タイトルを入力してください", class:"search-text"}
                %br
                %input{type:"submit", value:"検索する", class:"search-btn"}
          .search-form
            .search-form__title
              店名で検索
            .search-form__body
              = form_tag(search_sweets_path, method: :get) do
                %input{name:"keyword2", type:"text", placeholder:"店名を入力してください", class:"search-text"}
                %br
                %input{type:"submit", value:"検索する", class:"search-btn"}
          .search-form
            .search-form__title
              場所で検索
            .search-form__body
              = form_tag(search_sweets_path, method: :get) do
                %input{name:"keyword3", type:"text", placeholder:"場所を入力してください", class:"search-text"}
                %br
                %input{type:"submit", value:"検索する", class:"search-btn"}
  