= render partial: 'sweets/header', locals: { }

.main-wrapper
  = render partial: 'sweets/side-bar', locals: { }

  .sweets-wrapper
    .sweets-contents
      .sweets-box
        = link_to "/sweets/:id", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐
      .sweets-box
        = link_to "#", class:"sweets-box__link" do
          = image_tag "https://magia.tokyo/wp-content/uploads/2016/09/slider-1-640x450.jpg", class:"sweets-box__image"
          .sweets-box__title
            クリーム増量️⭐️ふわふわパンケーキ⭐

