= render partial: 'sweets/header', locals: { }

.main-wrapper
  = render partial: 'sweets/side-bar', locals: { }

  .sweets-wrapper
    .sweets-detail
      .sweets-detail__upper-content
        .sweets__title
          = @sweet.title
        .sweets__image
          = image_tag "#{@sweet.image}", class:"sweets__photo"
      .sweets-detail__lower-content
        .sweets-detail__lower-content__left
          %table.sweets__table
            %tbody
              %tr
                %th 投稿者
                %td
                  = link_to "#", class:"td__link" do
                    = @sweet.user.nickname
                %th 訪問日
                %td
                  = @sweet.visit_day
              %tr
                %th 店名
                %td
                  = @sweet.shop_name
                %th 場所
                %td
                  = @sweet.shop_area
              %tr
                %th メニュー名
                %td
                  = @sweet.menu
                %th 評価
                %td
                  = @sweet.rate
        .sweets-detail__lower-content__right
          .sweets__review
            = "~ review ~"
          .sweets__review__comment
            = @sweet.comment